<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.hello.miniproj02.file.mapper.FileMapper">

    <insert id="saveFileInDB">
        insert into
        file
        (board_id, file_save_name, file_origin_name, file_source)
        values
        (
        <choose>
            <when test="board_id != null">
                #{board_id}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>,
        #{file_save_name}, #{file_origin_name}, #{file_source})
    </insert>

    <insert id="saveCkFileInDB" parameterType="org.kosa.hello.miniproj02.entity.FileVO" useGeneratedKeys="true" keyProperty="file_id" keyColumn="file_id">
        insert into
        file
        (file_save_name, file_origin_name, file_source, file_type)
        values
        (#{file_save_name}, #{file_origin_name}, #{file_source}, #{file_type})
    </insert>

    <insert id="saveCkFileBoardId" parameterType="org.kosa.hello.miniproj02.entity.FileVO" useGeneratedKeys="true" keyProperty="file_id" keyColumn="file_id">
            update
                file
            set
                board_id = #{board_id}
            where
                file_id = #{file_id}
        </insert>

    <select id="getFile" resultType="org.kosa.hello.miniproj02.entity.FileVO">
        select
            *
        from
            file
        where
            file_id = #{file_id}
    </select>

    <select id="deleteFileSource" resultType="org.kosa.hello.miniproj02.entity.FileVO">
        select
            f.file_source, f.file_id
        from
            file f
        join board b on f.board_id = b.board_id
        where
            b.board_id = ${board_id}
    </select>

    <delete id="deleteFileInDB">
        delete
        from
            file
        where
            file_id = ${file_id}
    </delete>


</mapper>