<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.hello.miniproj02.login.mapper.LoginMapper">

    <select id="login" resultType="org.kosa.hello.miniproj02.entity.UserVO">
      		select
      			*
      		from user
      		where user_id = #{user_id}
    </select>

	<update id="unLock">
		UPDATE user
		SET login_count = 0
		WHERE user_id = #{user_id}
	</update>

	<update id="plusCount">
		UPDATE user
		SET login_count = login_count + 1
		WHERE user_id = #{user_id}
	</update>

	<update id="setLoginTime">
		UPDATE user
		SET last_login = now()
		WHERE user_id = #{user_id}
	</update>

	<update id="updateLockedTime">
		UPDATE user
		SET locked_at = now()
		WHERE user_id = #{user_id}
	</update>

</mapper>